[submodule "submodules/scrapy-examples"]
	path = submodules/scrapy-examples
	url = https://github.com/geekan/scrapy-examples.git
[submodule "submodules/distribute_crawler"]
	path = submodules/distribute_crawler
	url = https://github.com/gnemoug/distribute_crawler.git
[submodule "submodules/scrapy-vue"]
	path = submodules/scrapy-vue
	url = https://github.com/paoloo1995/scrapy-vue.git
[submodule "submodules/163spider"]
	path = submodules/163spider
	url = https://github.com/leyle/163spider.git
[submodule "submodules/CnblogsSpider"]
	path = submodules/CnblogsSpider
	url = https://github.com/jackgitgz/CnblogsSpider.git
